/* Reseting css */
*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-size: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

header {
    height: calc(100vh + 500px);
}

nav {
    position: fixed;
    top: 0;
    height: 70px;
    width: 100vw;
    box-shadow: 0 2px 9px #322332;
    background-color: #6dd8d8;
    z-index: 10;
}

a {
    text-decoration: underline dotted transparent 0;
    color: #444;
    font-weight: 600;
    font-size: 1.2rem;
    transition: text-decoration 0.2s ease-in-out;
}

a:hover, a:focus {
    text-decoration: underline solid black 2px;
    color: #000;
}

h1 {
    margin: 0;
    padding: 0;
    font-size: 2.4rem;
}

.links {
    position: absolute;
    top: 0;
    right: 70px;
    width: 480px;
    height: 70px;
    padding: 0 10px;
}

.nav-list {
    width: inherit;
    height: inherit;
    list-style: none;
    display: flex;
    /* padding-right: 200px; */
    justify-content: space-around;
}

.nav-list li {
    text-align: center;
}

.icon-title {
    display: inline-block;
    position: relative;
    top: -21px;
}

.icon-author {
    display: inline-block;
    position: relative;
    top: -22px;
}

.hero-title {
    position: absolute;
    top: 30%;
    left: 28%;
    transform: translate(-60%, -100%);
    font-size: 3.9rem;
    color: #222;
}