/* Reseting css */
* {
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    margin: 0;
    padding: 0;
}

header {
    height: calc(100vh + 500px);
}

nav {
    position: fixed;
    top: 0;
    height: 70px;
    width: 100vw;
    box-shadow: 0 2px 9px #322332;
    background-color: rgb(25, 156, 156, 50%);
}

a {
    text-decoration: none;
    color: black;
}

a:hover, a:focus {
    text-decoration: underline solid black 2px;
}

h1 {
    display: inline-block;
    line-height: 40px;
}
.links {
    position: absolute;
    top: 0;
    right: 0;
    width: 400px;
    height: 70px;
}

.nav-list {
    width: inherit;
    height: inherit;
    list-style: none;
    display: flex;
    padding-right: 20px;
    justify-content: space-around;
}