:root {
    --nav-clr: #444;
    --nav-bg: #9b9b7aff;
    --nav-shd: #baa587ff;
    --trd-clr: #d9ae94ff;
    --pri-bg: #f1dca7ff;
    --sec-bg: #ffcb69ff;
    --sunlit-clay: #e8ac65ee;
    --div1-clr: #d08c60ff;
    --div2-clr: #b58463ff;
    --pri-clr: #997b66ff;
    --h1-clr: #222;
}

/* Reseting css */
*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-size: 16px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
}

html,
body {
    width: 100vw;
    margin: 0;
    padding: 0;
}

header {
    height: calc(100vh - 30px);
    background-color: var(--pri-bg);
}

nav {
    position: fixed;
    top: 0;
    height: 70px;
    width: 100vw;
    box-shadow: 0 2px 9px var(--nav-shd);
    background-color: var(--nav-bg);
    color: var(--nav-clr);
    z-index: 10;
}

a {
    text-decoration: underline dotted transparent 0;
    color: #444;
    font-weight: 600;
    font-size: 1.2rem;
    transition: text-decoration 0.2s ease-in-out;
}

a:hover,
a:focus {
    text-decoration: underline solid black 2px;
    color: #000;
}

h1 {
    margin: 0;
    padding: 0;
    font-size: 2.4rem;
    color: var(--h1-clr);
}

.links {
    position: absolute;
    top: 0;
    right: 70px;
    width: 480px;
    height: 70px;
    padding: 0 10px;
}

.nav-logo {
    border-radius: 0 15px 15px 2px;
}

.nav-list {
    width: inherit;
    height: inherit;
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-list li {
    text-align: center;
}

.icon-title {
    display: inline-block;
    position: relative;
    top: -21px;
    margin: 0 4px;
}

.icon-author {
    display: inline-block;
    position: relative;
    top: -22px;
    margin-left: 4px;
}

.hero-msg {
    display: inline-block;
    position: relative;
    top: 22%;
    left: 5%;
    font-size: 3.9rem;
    opacity: 0;
    animation: fadeInMoveUp 0.6s 0.5s ease-out forwards; /* Apply the animation */
}

.hero-msg h1 {
    margin: 10px 0;
}

.hero-msg .one {
    opacity: 0;
    animation: fadeInMoveUp 0.8s 0.8s ease-out forwards;
}

.hero-msg .two {
    opacity: 0;
    animation: fadeInMoveUp 1s 1.1s ease-out forwards;
}
.hero-msg .three {
    opacity: 0;
    animation: fadeInMoveUp 1.2s 1.5s ease-out forwards;
}
.hero-msg .four {
    opacity: 0;
    animation: fadeInMoveUp 1.4s 1.8s ease-out forwards;
}
.hero-msg .five {
    opacity: 0;
    animation: fadeInMoveUp 1.6s 2.2s ease-out forwards;
}
.hero-msg .six {
    opacity: 0;
    animation: fadeInMoveUp 1.8s 2.6s ease-out forwards;
}
/* Define the animation */
@keyframes fadeInMoveUp {
    0% {
        opacity: 0;
        transform: translatex(0);
    }
    100% {
        opacity: 1;
        transform: translateX(20px);
    }
}

.divider {
    width: 100%;
    height: 30px;
    background: linear-gradient(var(--div1-clr), var(--div2-clr));
}

/* Adding books with css designed */
.hero-books-bg {
    position: absolute;
    bottom: 32px;
    right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: -8px;
}

.book1 {
    position: relative;
    height: 30px;
    width: 140px;
    border: 5px solid #942343;
    margin-left: 3vw;
    border-radius: 10px 0 0 10px;
    border-right-style: none;
    background: #fffff0;
}

.bookCut {
    background: #a0d8ef;
    margin: 0 0 0 97%;
    width: 5px;
    height: 30px;
}

.ribbon1 {
    height: 25px;
    width: 20px;
    background: #ff785b;
    position: absolute;
    margin: 12px 0 0 10px;
}

.book2 {
    position: relative;
    height: 40px;
    width: 120px;
    margin-left: 4vw;
    background: #a688bd;
}

.ribbonCut1 {
    position: absolute;
    margin: 5px 0 0 2px;
    border-left: 0px solid #ff785b;
    border-right: 10px solid transparent;
    border-top: 12px solid #ff785b;
}

.ribbonCut2 {
    position: absolute;
    margin: 5px 0 0 12px;
    border-left: 10px solid transparent;
    border-right: 0px solid #ff785b;
    border-top: 12px solid #ff785b;
}

.ribbonCut3 {
    position: absolute;
    margin: 0 0 0 2px;
    height: 5px;
    width: 20px;
    background: #ff785b;
}

.book2:before,
.book2:after {
    content: "";
    position: absolute;
}

.book2:before {
    height: 40px;
    width: 60px;
    left: 10px;
    border-left: 20px double #fff;
    border-right: 20px double #fff;
}

.book2:after {
    background: white;
    margin: 5% 0 0 39%;
    width: 30px;
    height: 20px;
}

.book3 {
    position: relative;
    height: 30px;
    width: 140px;
    border: 5px solid #004d25;
    margin-left: 4vw;
    border-radius: 0 10px 10px 0;
    border-left-style: none;
    background: #fffff0;
}

.bookCut3 {
    background: #a0d8ef;
    width: 5px;
    height: 30px;
}

.ribbon3 {
    height: 25px;
    width: 20px;
    position: absolute;
    background: #a4d5bd;
    margin: 10px 0 0 100px;
}

.book4 {
    position: relative;
    height: 35px;
    width: 160px;
    margin-left: 2vw;
    background: #ed6d35;
}

.book4:before,
.book4:after {
    position: absolute;
    content: "";
}

.book4:before {
    height: 35px;
    width: 98px;
    left: 10px;
    border-left: 20px double #fff;
    border-right: 20px double #fff;
}

.book4:after {
    background: white;
    margin: 4% 0 0 37%;
    width: 40px;
    height: 20px;
}

.ribbonCut4 {
    position: absolute;
    margin: 5px 0 0 127px;
    border-left: 0px solid #a4d5bd;
    border-right: 10px solid transparent;
    border-top: 12px solid #a4d5bd;
}

.ribbonCut5 {
    position: absolute;
    margin: 5px 0 0 137px;
    border-left: 10px solid transparent;
    border-right: 0px solid #a4d5bd;
    border-top: 12px solid #a4d5bd;
}

.ribbonCut6 {
    position: absolute;
    margin: 0 0 0 127px;
    height: 5px;
    width: 20px;
    background: #a4d5bd;
}

.book5 {
    position: relative;
    height: 40px;
    width: 145px;
    margin-left: 2.5vw;
    background: #0073a8;
}

.book5:before,
.book5:after {
    position: absolute;
    content: "";
}

.book5:before {
    height: 40px;
    width: 80px;
    left: 12px;
    border-left: 20px double #fff;
    border-right: 20px double #fff;
}

.book5:after {
    background: white;
    margin: 5% 0 0 39%;
    width: 30px;
    height: 20px;
}

.book6 {
    position: relative;
    height: 30px;
    width: 165px;
    border: 5px solid #622d18;
    margin-left: 1.5vw;
    border-radius: 0 10px 10px 0;
    border-left-style: none;
    background: #fffff0;
}

.bookCut6 {
    background: #a0d8ef;
    width: 5px;
    height: 30px;
}

.ribbon6 {
    height: 25px;
    width: 20px;
    position: absolute;
    background: #a4d5bd;
    margin: 14px 0 0 105px;
}

.book7 {
    position: relative;
    height: 40px;
    width: 200px;
    margin-left: 0;
    margin-bottom: 3px;
    background: #fcc800;
}

.book7:before,
.book7:after {
    position: absolute;
    content: "";
}

.book7:before {
    height: 40px;
    width: 98px;
    left: 10px;
    border-left: 20px double #fff;
}

.book7:after {
    background: white;
    margin: 4% 0 0 82%;
    width: 22px;
    height: 22px;
    border-radius: 12px;
}

.ribbonCut7 {
    position: absolute;
    margin: 5px 0 0 125px;
    border-left: 0px solid #a4d5bd;
    border-right: 10px solid transparent;
    border-top: 12px solid #a4d5bd;
}

.ribbonCut8 {
    position: absolute;
    margin: 5px 0 0 135px;
    border-left: 10px solid transparent;
    border-right: 0px solid #a4d5bd;
    border-top: 12px solid #a4d5bd;
}

.ribbonCut9 {
    position: absolute;
    margin: 0 0 0 125px;
    height: 5px;
    width: 20px;
    background: #a4d5bd;
}

/* Main */
main {
    min-height: 100vh;
    background-color: var(--sec-bg);
}
/* Book show case */
.panels-con {
    width: 100vw;
    height: 100vh;
    padding: 0 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--trd-clr);
}

.panels {
    display: flex;
    min-width: 360px;
}

/* To do: Add genres when they are strips */
.panel {
    display: flex;
    justify-content: center;
    align-items: end;
    flex: 1;
    width: 5%;
    position: relative;
    height: 80vh;
    margin: 0 5px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    background: none;
    transition: all 0.2s ease-in-out;
}

.panel.active {
    flex: 6;
    opacity: 1;
}

.panel h1 {
    position: relative;
    right: 20px;
    text-align: center;
    font: 600 0.5rem "Oswald", sans-serif;
    text-transform: uppercase;
    color: var(--h1-clr);
    background-color: var(--sunlit-clay);
    padding: 8px 10px;
    margin-bottom: 35px;
    border-radius: 10px;
    opacity: 0;
    filter: blur(4px);
}

.panel.active h1 {
    opacity: 1;
    right: 0;
    filter: blur(0);
    transition: all 0.2s 0.3s cubic-bezier(0.3, 0.7, 0.1, 1.6);
}

/* Non-active panels: remove the cover image and show a vertical genre label */
.panel:not(.active) {
    background-image: none !important;
    background-color: var(--nav-shd);
    justify-content: center;
    align-items: center;
}

/* Vertical, top-to-bottom genre label using the element's `data-genre` */
.panel:not(.active)::after {
    content: attr(data-genre);
    height: 84%;
    width: 50px;
    position: absolute;
    top: 50%;
    align-self: center;
    text-align: center;
    transform: translateY(-50%);
    writing-mode: vertical-rl;
    text-orientation: upright;
    background: var(--nav-bg);
    color: var(--nav-clr);
    padding: 0.6rem 0.5rem;
    border-radius: 8px;
    font-weight: 800;
    font-size: 1.8rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.35);
    pointer-events: none;
    transition: opacity 0.18s ease, transform 0.18s ease;
    opacity: 1;
}

.panel.active::after {
    opacity: 0;
    transform: translateY(-50%) translateX(8px);
}

/*  Background images  */
.panel {
    background-size: cover;
    background-position: center;
}

.panel:nth-child(1) {
    background-image: url(/assets/bhagwatgeeta.png);
}

.panel:nth-child(2) {
    background-image: url(/assets/48laws.png);
}

.panel:nth-child(3) {
    background-image: url(/assets/atomichabit.png);
}

.panel:nth-child(4) {
    background-image: url(/assets/stillness.png);
}

.panel:nth-child(5) {
    background-image: url(/assets/naval.png);
}

.panel:nth-child(6) {
    background-image: url(/assets/chankyaniti.png);
}

.panel:nth-child(7) {
    background-image: url(/assets/mansearch.png);
}

.panel:nth-child(8) {
    background-image: url(/assets/richdad.png);
}

.panel:nth-child(9) {
    background-image: url(/assets/sapiens.png);
}

.panel:nth-child(10) {
    background-image: url(/assets/blackswan.png);
}

@media screen and (min-width: 1100px) {
    .panel h1 {
        font-size: 1.8rem;
    }
}
